<!-- About Section -->
    <section id="about" class="bg-light-gray reset-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% translate chronology.title %}</h2>
                    <h3 class="section-subheading text-muted">{% translate chronology.subtitle %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate chronology.maps.version1.title %}</h4>
                                    <h4 class="subheading">{% translate chronology.maps.version1.subtitle %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate chronology.maps.version1.content %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate chronology.maps.version2.title %}</h4>
                                    <h4 class="subheading">{% translate chronology.maps.version2.subtitle %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate chronology.maps.version2.content %}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{% translate chronology.maps.version3.title %}</h4>
                                    <h4 class="subheading">{% translate chronology.maps.version3.subtitle %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% translate chronology.maps.version3.content %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>{% translate chronology.join %}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>