<!-- Team Section -->
<section id="atlas" class="reset-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="{{ site.baseurl }}/img/logos/atlas.png" class="map3-logo">
            </div>
            <div class="col-lg-6 text-left">
                <p class="row section-subheading text-muted">
                    {% translate atlas.content %}
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <a href="#"
                    class="page-scroll btn btn-xl map3-btn">{% translate atlas.btn1 %}</a>
                <a href="#" class="page-scroll btn btn-xl map3-btn">{% translate atlas.btn2 %}</a>
                <a href="#"
                    class="page-scroll btn btn-xl map3-btn" target="_blank">{% translate atlas.btn3 %}</a>
            </div>
        </div>
    </div>
</section>