  <footer>
        <div class="container" style="position: absolute; bottom: -250px;">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="copyright">ICP证：<a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19146368号</a> &nbsp;|&nbsp; {% translate footer.copyright %} &copy; Hyn.mobi {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline quicklinks">
                        <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                            <li>{% translate footer.notice %}</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
