<!-- Team Section -->
<section id="map3" class="bg-light-gray reset-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="{{ site.baseurl }}/img/logos/map3.png" class="map3-logo">
            </div>
            <div class="col-lg-6 text-left">
                <p class="row section-subheading text-muted">
                    {% translate map3.content %}
                </p>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://github.com/hyperion-hyn/wiki/wiki/Map3-Edge-on-AWS"
                    class="page-scroll btn btn-xl map3-btn">{% translate map3.btn1 %}</a>
                <!--<a href="#portfolio" class="page-scroll btn btn-xl map3-btn">Use Map3 Service</a>-->
                <a href="https://static.hyn.space/resource/Atlas-the-spatial-consensus-blockchain-v1.0.pdf"
                    class="page-scroll btn btn-xl map3-btn" target="_blank">{% translate map3.btn3 %}</a>
            </div>
        </div>
    </div>
</section>