<!-- Services Section -->
    <section id="press">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">{% translate press.title %}</h3>
                </div>
            </div>
            <div class="row center">
                <div><a href="https://cointelegraph.com/explained/mapping-on-the-blockchain-explained" target="_blank" class="press-link"><img src="{{ site.baseurl }}/img/press/COINTELEGRAPH.png" alt="COINTELEGRAPH" class="press-logo">&nbsp;COINTELEGRAPH</a></div>
                <div><a href="https://pro.coinpedia.org/companies/hyperion" target="_blank" class="press-link"><img src="{{ site.baseurl }}/img/press/COINPEDIA.png" alt="COINPEDIA" class="press-logo">&nbsp;COINPEDIA</a></div>
                <div><a href="https://www.cryptonewspoint.com/how-can-blockchain-improve-digital-maps/" target="_blank" class="press-link"><img src="{{ site.baseurl }}/img/press/CRYPTO-NEWS-POINT.png" alt="CRYPTO NEWS POINT" class="press-logo">&nbsp;CRYPTO NEWS POINT</a></div>
                <div class="press-link" style="text-align:center">...</div>
            </div>
        </div>
    </section>